LIST :
<div>
    <ul>
        <li>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('logout') }}">Logout</a></li>
    </ul>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
        </thead>
        {% for user in users %}
        <tbody>
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="3">No user found!</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>